@(photo: Form[CreatePhotoForm], photos: Seq[Photo] = Seq[Photo]())(implicit messages: Messages)

@import helper._

@app("My Gallery") {
    <h2>Gallery</h2>

    <hr>

    @if(photos.isEmpty) {
        <h4>No photos to show</h4>
    } else {
        <ul id="photos">

        @for(photo <- photos) {
            <li><a href="/photos/@photo.name">@photo.url</a></li>
        }

        </ul>
    }

    @form(routes.PhotoController.addPhoto()) {
        @inputText(photo("name"))
        @inputText(photo("url"))

        <div class="buttons">
            <input type="submit" value="Add Photo"/>
        </div>
    }
}
