
@(
        user: models.User,
        supplyForm: Form[forms.SupplyForm.Data],
        mySupplies: Seq[Supply],
        resourceCategories: Seq[(String, String)],
        resourceAmountLabels: Seq[(String, String)])(implicit request: RequestHeader, messages: Messages)

@import b3.inline.fieldConstructor
@app(Messages("home.title"), Some(user)) {
    @request.flash.get("error").map { msg =>
        <div class="col-md-6 col-md-offset-3 alert alert-danger alert-error">
            <a href="#" class="close" data-dismiss="alert">&times;</a>
            <strong>@Messages("error")</strong> @msg
        </div>
    }

    <h2>Supply</h2>

    <fieldset>
        <legend>@Messages("supply.offer.details")</legend>

        @b3.form(action = routes.SortingCentersController.submitDropIns()) {
            @helper.CSRF.formField
            @b3.text(supplyForm("idUser"),'_hiddenLabel -> Messages("idUser"),'placeholder -> Messages("idUser"), 'class -> "form-control")
            @b3.text(supplyForm("resource"), '_hiddenLabel -> Messages("description"), 'placeholder -> Messages("description"), 'class -> "form-control")
            @b3.select(supplyForm("resourceCategoryID"), options = resourceCategories)

            @b3.number(supplyForm("amount"), '_hiddenLabel -> Messages("amount"), 'placeholder -> Messages("amount"), 'class -> "form-control")
            @b3.select(supplyForm("amountLabelID"), options = resourceAmountLabels)

            <div class="form-group">
                <div>
                    <button id="submit" type="submit" value="submit" class="btn btn-success btn-block">
                    @Messages("submit.supply.offer")
                    </button>
                </div>
            </div>
        }
    </fieldset>
}