@(user: models.User, sortingCenterWarehouse: Form[forms.SortingCenterWarehouseForm.Data])(implicit request: RequestHeader, messages: Messages)
@*(user: models.User, sortingCenterWarehouseForm: Form[forms.SortingCentersForm.Data], mySupplies: Seq[Supply] = Seq[Supply]())(implicit request: RequestHeader, messages: Messages)*@



    @import b3.inline.fieldConstructor

    @app(Messages("home.title"), Some(user)) {
        <div class="col-md-8 col-md-offset-2">
            @request.flash.get("error").map { msg =>
                <div class="col-md-6 col-md-offset-3 alert alert-danger alert-error">
                    <a href="#" class="close" data-dismiss="alert">&times;</a>
                    <strong>@Messages("error")</strong> @msg
                </div>
            }

            <h2>Available offers to accept</h2>

            @if(mySupplies.isEmpty) {
                <h4>No supply offers to accept yet</h4>
            } else {
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Resource</th>
                            <th>Amount</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                    @for((mySupply, index) <- mySupplies.zipWithIndex) {
                        <tr>
                            <th scope="row">@{index + 1}</th>
                            <td>@mySupply.resource</td>
                            <td>@mySupply.amount</td>
                            @b3.form(action = routes.SortingCentersController.acceptOffer()) {
                                <div class="form-group">
                                    <div>
                                        <button id="submit" type="submit" value="submit" class="btn btn-success btn-block">
                                        @Messages("submit.sortingCenterWarehouse.offer")
                                        </button>
                                    </div>
                                </div>
                            }
                            <td></td><!-- insert action here -->
                        </tr>
                    }
                    </tbody>
                </table>
            }
        </div>
    }