@(user: Option[models.User] = None)(implicit messages: Messages)

<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="col-xs-12 col-lg-offset-1 col-lg-10">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">@Messages("toggle.navigation")</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>

                <a class="navbar-brand" href="/">@Global.appName</a>
            </div>

            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    @user.map { user =>
                        <li><a href="@routes.Application.index">@user.fullName</a></li>
                        <li><a href="@routes.Application.signOut">@Messages("sign.out")</a></li>
                    }.getOrElse {
                        <li><a href="@routes.Application.signIn">@Messages("sign.in")</a></li>
                        <li><a href="@routes.Application.signUp">@Messages("sign.up")</a></li>
                    }
                </ul>
            </div>
        </div>
    </div>
</nav>
